@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* NavLinks styles ================================== */

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  margin-right: 20px;
}

.link:hover {
  color: #3f51b5;
}

.active {
  color: #3f51b5;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;

  border-radius: 2px;
  background-color: #3f51b5;

  animation-name: current-underline;
  animation-duration: 150ms;
  animation-timing-function: linear;
}

@keyframes current-underline {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

/* =================spinner================================= */
.spinner {
  z-index: 10;
  position: fixed;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
  color: #3f51b5;
}
